<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const MEET_ID = "<%= meetId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src='script.js' defer></script>
    <script src='home.js' defer></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<body class="in-call">
    <div class="header">
        <h4 id="logo">Teams</h4>
    </div>
    <div id='video-grid'></div>
    <div class='controles'>
        <button id='audio-toggle' onclick="{window.location.replace('/home')}"><img src="/icons/microphone.png"></button>
        <button id='video-toggle'><img src="/icons/microphone.png"></button>
        <button id='end-call'><img src="/icons/microphone.png"></button>
        <button id='hand-raise'><img src="/icons/microphone.png"></button>
        <button id='brb'><img src="/icons/microphone.png"></button>
    </div>
    <div class="chat">
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
</body>
</html>