/* Home page */

body, h4{
    margin: 0px;
    padding: 0px;
    top: 0px;
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype-variations");
    font-style: normal;
}
.header{
    background-color: #6264a7;
    width: 100%;
    height: 10%;
    z-index: 10px;
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0;
}
#welcome{
    font-family: "Roboto";
    font-size: 80px;
    top: 25%;
    position: absolute;
    color: #6264a7;
    padding: 18px;
    padding-left: 5%;
}
#logo{
    font-family: "Roboto";
    font-size: 20px;
    width: 50%;
    color: white;
    padding: 18px;
    padding-left: 5%;
}
#email{
    font-family: "Roboto";
    font-size: 14px;
    position: fixed; 
    top: 0%;
    width: 50%;
    right: 0%;
    text-align: right;
    color:lightgrey;
    padding: 20px;
    padding-right: 5%;
    z-index: 10px;
}
#date-time{
    font-family: "Roboto";
    font-size: 35px;
    top: 24%;
    left: 5%;
    position: absolute;
    color:darkgray;
}
.create-room{
    font-family: "Roboto";
    font-size: 16px;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 268px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #6264a7;
    color: white;
    text-align: left;
}
#room-id{
    font-family: "Roboto";
    font-size: 16px;
    position: absolute;
    top: 70%;
    left: 5%;
    width: 240px;
    padding: 12px;
    border-color: #6264a7;
    border-radius: 10px;
    outline: none;
    color: #6264a7;
    background-color: white;
    
}
.video-grid{
    display: grid;
    justify-content: center;
    vertical-align: center;
    grid-gap: 10px;
    position: absolute;
    max-width: 1200px;
    max-height: 700px;
    /* max-width: 70%;
    max-height: 70%; */
    size: fixed;
    border-radius: 10px;
    top: 5%;
    left: 5%;
    grid-template-columns: repeat(var("--cols"), 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: repeat(auto-fill, 300px);
    grid-auto-flow: column;
    /* grid-auto-columns: 400px; */
    /* grid-auto-rows: 550px; */
}
video {
    grid-column-start: auto;
    grid-row-start: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.in-call{
    background-color: rgb(22, 22, 22);
}
#close{
    background-image: url("/icons/close.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: rgb(245, 245, 245);;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: 4px;
    top: 3%;
    position: inherit;
    border-color: transparent;
	outline: none;
	border: none;
    left: 90%;
}
.chatbox{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 2.5%;
    left: 78%;
    border-radius: 10px;
    background-color:rgb(245, 245, 245);
    display: none;
    overflow-y: scroll;
}
.spacing{
    position:inherit;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    outline: none;
    background-color: rgb(245, 245, 245);
}
#msg-title{
    font-family: "Roboto";
    font-size: 18px;
    position: absolute;
    top: 1%;
    left: 3%;
    padding: 12px;
    color:#6264a7;
}
#message{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    size: fill;
    top: 90%;
    left: 79%;
    width: 16%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    color:rgb(70, 70, 70);
    background-color: rgb(255, 255, 255);
    border-color: white;
    z-index: 1;
    display: none;
}
#messages{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    top: 8%;
    left: 3%;
    width: 85%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    color:rgb(70, 70, 70);
}
#send{
    background-image: url("/icons/send2.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    background-color: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin: 4px;
    top: 90.5%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 94%;
    z-index: 2;
    display: none;
}
.notice-board{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 2.5%;
    left: 78%;
    border-radius: 10px;
    background-color:rgb(245, 245, 245);
    overflow-y: scroll;
}
#messages-notice{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    top: 8%;
    left: 3%;
    width: 85%;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    color:rgb(70, 70, 70);
}
/*controles*/
.controles{
    width: 1000px;
    height: 60px;
    top: 90%;
    left: 5%;
    background-color: rgb(39, 39, 39);
    position: absolute;
    border-radius: 10px;
}
.enable-chat{
    background-image: url("/icons/chat-bubbles-with-ellipsis (1).png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 96%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.call{
    background-image: url("/icons/phone-call (1).png");
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    height: 42px;
    width: 42px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video{
    background-image: url("/icons/video-camera-close.png");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 42%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.audio{
    background-image: url("/icons/microphone.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    background-position: center;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 58%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.screenshare{
    background-image: url("/icons/upload.png");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    background-position: center;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 90%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.caption{
    background-image: url("/icons/subtitles.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 84%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
#caption-text{
    font-family: "Roboto";
    font-size: 14px;
    text-align: center;
    display: none;
    top: 86%;
    left: 5%;
    height: 20px;
    width: 1000px;
    /* background-color: #6264a7; */
    color: white;
    position: absolute;
}
#speaker{
    font-family: "Roboto";
    font-size: 16px;
    position: absolute;
    top: 4%;
    left: 3%;
    padding: 12px;
    color: #6264a7;
}
.captions{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    top: 8%;
    left: 3%;
    padding: 12px;
    color: rgb(80, 80, 80);
}
#close-caption{
    background-image: url("/icons/close.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: rgb(245, 245, 245);;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: 4px;
    top: 3%;
    position: inherit;
    border-color: transparent;
	outline: none;
	border: none;
    left: 90%;
}
.info{
    background-image: url("/icons/info.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    background-position: center;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 3%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.infotext{
    top: 71%;
    left: 5%;
    position: absolute;
    font-family: "Roboto";
    font-size: 14px;
    padding: 10px;
    display: none;
    color: white;
    background-color: #6264a7;
    border-radius: 5px;
}
/* #infoclose{
    background-image: url("/icons/cancel.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: rgb(70, 70, 70);
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: 4px;
    top: 4%;
    position: inherit;
    border-color: transparent;
	outline: none;
	border: none;
    left: 92%;
    z-index: 10px;
} */
.hand{
    background-image: url("/icons/raising-hand.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 9%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.hand-notice{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    /* width: 300px;
    height: 100px; */
    top: 2%;
    left: 15%;
    padding: 8px;
    margin: 8px;
    color:rgb(255, 255, 255);
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    display: none;
}
.brb{
    background-image: url("/icons/clock.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 15%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.v-cmd{
    background-image: url("/icons/voice.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: rgb(80, 80, 80);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 4px;
    top: 45%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 21%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease;
}
.live-captions{
    position: absolute;
    width: 20%;
    height: 95%;
    top: 2.5%;
    left: 78%;
    border-radius: 10px;
    background-color:rgb(245, 245, 245);
    overflow-y: scroll;
    display: none;
}
.voice-commands{
    font-family: "Roboto";
    position: absolute;
    font-size: 14px;
    text-align: center;
    top: 55%;
    left: 17%;
    /* transform: translate(-50%, -50%); */
    width: 20%;
    color: rgb(245, 245, 245);
    background-color: #6264a7;
    display: none;
    margin: 10px;
    padding-left: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.tippy-box[data-theme~='custom'] {
    background-color: #6264a7;
    color: white;
    font-family: "Roboto";
    font-size: 12px;
}