/* -------------------meet room------------------- */
/* Using the font face "Roboto" throughout the web application */
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype-variations");
    font-style: normal;
}
body, h4{
    margin: 0px;
    padding: 0px;
    top: 0px;
}
body{
    background-color:rgb(245, 245, 245);
}
/* header */
.header{
    background-color: #6264a7;
    width: 100%;
    height: 10%;
    z-index: 10px;
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0;
}
#logo{
    font-family: "Roboto";
    font-size: 20px;
    width: 50%;
    color: rgb(245, 245, 245);
    padding: 18px;
    padding-left: 5%;
}
#email{
    font-family: "Roboto";
    font-size: 14px;
    position: fixed; 
    top: 0%;
    width: 50%;
    right: 0%;
    text-align: right;
    color:lightgrey;
    padding: 20px;
    padding-right: 5%;
    z-index: 10px;
}
/* user name */
.username-head{
    font-family: "Roboto";
    font-size: 20px;
    top: 7%;
    position: absolute;
    color: darkgray;
    padding: 18px;
    padding-left: 5%;
}
.name-cont{
    font-family: "Roboto";
    font-size: 15px;
    top: 30%;
    width: 18%;
    position: absolute;
    color: #a9a9a9;
    padding: 18px;
    padding-left: 5%;
}
.username{
    font-family: "Roboto";
    font-size: 40px;
    top: 10%;
    position: absolute;
    color: #6264a7;
    padding: 18px;
    padding-left: 5%;
}
.edit-name{
    background-image: url("/icons/editing.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    background-color: rgb(245, 245, 245);;
    height: 30px;
    width: 30px;
    margin: 4px;
    top: 25%;
    position: absolute;
    border-color: transparent;
	outline: none;
	border: none;
    left: 4.5%;
}
/* buttons to navigate to the homme page and to the meeting */
.join-call{
    font-family: "Roboto";
    font-size: 16px;
    position: absolute;
    top: 75%;
    left: 5%;
    width: 268px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #6264a7;
    color: white;
    text-align: left;
}
.leave-room{
    font-family: "Roboto";
    font-size: 16px;
    position: absolute;
    top: 85%;
    left: 5%;
    width: 268px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #6264a7;
    color: white;
    text-align: left;
}
/* invite participands and meeting information */
.invite{
    background-image: url("/icons/add-user.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: rgb(245, 245, 245);;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin: 4px;
    position: absolute;
    top: 2%;
    left: 75%;
    border-color: transparent;
	outline: none;
	border: none;
}
.info{
    position: absolute;
    top: 18%;
    right: 2%;
    font-family: "Roboto";
    font-size: 14px;
    padding: 10px;
    width: 20%;
    display: none;
    color: #6264a7;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}
/* participant list display */
.part-heading{
    font-family: "Roboto";
    font-size: 18px;
    position: absolute;
    top: 1%;
    left: 3%;
    padding: 12px;
    color:#6264a7;
}
.participants{
    position: absolute;
    width: 16%;
    height: 90%;
    top: 10%;
    left: 84%;
    border-radius: 10px;
    background-color:rgb(245, 245, 245);
    display: block;
    overflow-y: scroll;
}
.part{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    top: 6%;
    left: 3%;
    padding: 12px;
    margin: 5px;
    color:#464646;
}
.p{
    border-left: #6264a7;
    border-width: 1px;
}
/* chat box and message styling */
.chatbox-ex{
    position: absolute;
    width: 40%;
    height: 85%;
    top: 10%;
    left: 32%;
    border-radius: 10px;
    background-color:white;
    display: block;
    overflow-y: scroll;
}
#msg-title{
    font-family: "Roboto";
    font-size: 18px;
    position: absolute;
    top: 1%;
    left: 3%;
    padding: 12px;
    color:#6264a7;
}
#message-ex{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    size: fill;
    top: 87%;
    left: 33%;
    width: 35%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    color:rgb(70, 70, 70);
    background-color: rgb(245, 245, 245);;
    border-color: white;
    z-index: 1;
}
#messages-ex{
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    top: 8%;
    left: 3%;
    width: 88%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    color:rgb(70, 70, 70);
}
#send-ex{
    background-image: url("/icons/send2.png");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center;
    background-color: rgb(245, 245, 245);;
    border-radius: 100%;
    height: 36px;
    width: 36px;
    margin: 4px;
    top: 87%;
    position: fixed;
    border-color: transparent;
	outline: none;
	border: none;
    left: 66%;
    z-index: 1;
}